.container.margin-big-top.center-align
		.row
			h1 Registrar Usuario
			form.col.s12()
				.row
					.input-field.col.s6
						input.validate(type="text" name="email" placeholder="Email" ng-model="user.email")
					.input-field.col.s6
						input.validate(type="text" name="username" ng-model="user.username" placeholder="username")
				.row
					.input-field.col.s6
						input.validate(type="password" name="password" placeholder="Password" ng-model="user.password")
					.input-field.col.s6
						input.validate(type="password" name="password_confirmation" placeholder="password confirmation" ng-model="user.password_confirmation")
				button.btn.left(ng-click="addUser()") Registrarse
				a.right(ui-sref='login') ya tengo cuenta